body {
    margin: 40px 10px;
    padding: 0;
    font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
    font-size: 14px;
}

#calendar {
    max-width: 1600px;
    margin: 0 auto;
}

.fc-event.evento-conflito {
    padding: 3%;
    border-radius: 10px !important;
    background-color: #ffd6d6;
    align-items: center !important;
    justify-content: center !important;
    display: flex;
}

#calendar {
    border: 1px solid #faf8f8;
    border-radius: 16px;
    overflow: hidden;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    /* margin: 100px; */
    padding: 30px;
}

.fc-event {
    border-radius: 12px !important;
    padding: 4px 6px;
}

.fc .fc-button {
    border-radius: 8px !important;
    margin-top: 10px;
}

/* arredonda as células do calendário (opcional) */
/* .fc-theme-standard td,
      .fc-theme-standard th {
        border-radius: 6px;
      } */

.cores-info {
    display: flex;
    flex-direction: column;
    gap: 12px; /* espaço entre as linhas */
    margin-bottom: 1rem;
}

.cores-linha {
    display: flex;
    gap: 20px; /* espaço entre cada item da linha */
}

.cores-item {
    display: flex;
    align-items: center;
    gap: 5px; /* espaço entre o quadrado e o texto */
    font-size: 14px;
    min-width: 120px; /* garante alinhamento mesmo com textos maiores */
}

.cores-item span {
    width: 15px;
    height: 15px;
    display: inline-block;
}

/* Paleta de cores */
.nao-realizado {
    background: #BA62A4;
}

.proposta {
    background: #9C8BC9;
}

.pre-reserva {
    background: #E6BD3E;
}

.manutencao {
    background: #757575;
}

.quitado {
    background: #6AB8ED;
}

.taxa-reserva {
    background: #D98E4B;
}

.gratuito {
    background: #BF3030;
}

.governamental {
    background: #497CA7;
}


.fc-timeline-event {
    transform: translateY(25%) !important;
}